.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    padding-left: 3rem; /* Empurra mais para a direita */
    padding-right: 3rem;
}

.slds-col {
    margin-bottom: 1rem; /* Adiciona espaçamento entre as colunas */
}

lightning-button {
    margin-top: 1rem; /* Espaçamento entre os botões */
    padding-left: 3rem;
    padding-right: 3rem;
}

lightning-input {
    margin-bottom: 1rem; /* Espaço entre os inputs */
    padding-left: 3rem;
    padding-right: 3rem;
}